body{
    
.full_body{
    margin: auto;
    width: 1000px;
    height: 100%;
    
}
.nevber{
   
    background-color: rgb(255, 251, 250);
    height: 50px;
    
}
.icon{
    padding: 15px;
}
.icon i{
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    background-color: rgba(70, 122, 172, 0.295);
    padding: 13px;
}
